[Desktop Entry]
Version=1.0
Name=Grac Editor
Name[ko]=매체제어 편집
GenericName=Grac Editor
GenericName[ko]=매체제어 편집
Exec=/usr/bin/grac-editor
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=grac-editor
Categories=System
StartupWMClass=grac-editor
StartupNotify=true
