<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
	<vendor>The Gooroom Project</vendor>
	<action id="kr.gooroom.grac-editor">
		<message>Authentication is required.</message>
		<message xml:lang="en_AU">Authentication is required.</message>
		<message xml:lang="en_GB">Authentication is required.</message>
		<message xml:lang="ko">매체제어 편집기를 실행하기 위해 인증이 필요합니다.</message>
		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/lib/grac-editor/grac_editor.py</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>
</policyconfig>
