Source: gooroom-resource-access-control
Section: admin
Priority: optional
Maintainer: Gooroom Engineering Team <devel-os@gooroom.kr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.gooroom.kr

Package: grac-device-daemon
Architecture: all
Depends: python3-dbus, python3-openssl, python3-simplejson, python3-systemd, python3-psutil, python3-pyudev, python3-configobj, python3-iptables, python3-dns
Description: This is a daemon to control the access to each devices on Gooroom OS. For example, network, USB, Bluetooth device.
